Repository reactive-firewall/pypak: changes, and which Codecov flags are due for each by the changed paths.
All: pak, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: exclude
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: exclude
      pak:
        target: 95%
        threshold: 1%
        only_pulls: false
        flags:
          - "pak"
        paths:
          - "pak/"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!pak/"
github_checks:
  annotations: true
flags:
  pak:
    paths:
      - "pak/"
  tests:
    paths:
      - "tests/"
      - "!pak/"

Improved performance by allowing nothing to use __slots__
  pak/__init__.py
  pak/anything.py
Due: pak

Stable implementation with slots
  Makefile
  pak/anything.py
Due: pak

[PATCH] Update codeql.yml
  .github/workflows/codeql.yml
Due: none

[FIX] Update .github/workflows/scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

[STYLE] Refactor name to pypak
  .bandit.yml
  .codecov.yml
  .coderabbit.yaml
  .coveragerc
  .github/dependabot.yml
  .github/labeler.yml
  LICENSE.md
  Makefile
  README.md
  docs/Makefile
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  docs/toc.md
  pypak/__init__.py
  pypak/anything.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/check_codecov
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tox.ini
Due: tests

[VERSION] Release Candidate for 2.0
  .appveyor.yml
  Makefile
  README.md
  docs/conf.py
  pypak/__init__.py
  setup.cfg
  setup.py
Due: none

[PATCH] apply fixes from review
  README.md
  docs/conf.py
  pypak/__init__.py
  setup.cfg
  setup.py
  tox.ini
Due: none

[UPDATE] Refactored to utilize exception chaining.
  pypak/__init__.py
  pypak/anything.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
Due: tests

[CI] minor fix for CircleCI docker images
  .circleci/config.yml
Due: none

[PATCH] Update comment in .github/workflows/scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

[UPDATE] Merged .github/workflows/scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

[HOTFIX] Update whitespace in .github/workflows/scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

[PATCH] Minor update to fix badges and configs.
  .github/workflows/scorecards-analysis.yml
  README.md
Due: none

[UPDATE] Version Bump and Pin for CodeQL GHA (- WIP PR #45 -)
  .github/workflows/codeql.yml
  .github/workflows/scorecards-analysis.yml
Due: none

[UPDATE] Version Bump for makefiel-lint.yml
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] minor fixes
  .github/workflows/makefile-lint.yml
  .travis.yml
Due: none

[UPDATE] Minor version bumps
  pypak/__init__.py
  pypak/anything.py
  requirements.txt
Due: none

[PATCH] Normalize version bump as per review (- WIP PR #55 -)
  .github/workflows/bandit.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
Due: none
